/* Polices d'écriture personnalisées*/
@font-face {
    font-family: CharisSILW;
    src: url(CharisSIL-Regular.woff2);
}
@font-face {
    font-family: CharisSILW;
    font-style: italic;
    src: url(CharisSIL-Italic.woff2);
}
@font-face {
      font-family: CharisSILW;
      font-weight: bold;
      src: url(CharisSIL-Bold.woff2);
}
@font-face {
      font-family: CharisSILW;
      font-weight: bold;
      font-style: italic;
      src: url(CharisSIL-BoldItalic.woff2);
}

/* Style global*/
body {
    font-family: CharisSILW, sans-serif;
}
h1 {
    text-decoration: underline;
}
h2 {
    font-weight: normal;
    font-style: italic;
    color: rgb(70, 134, 111);
}
h3 {
    font-weight: normal;
    text-decoration: underline;
    color: rgb(70, 134, 111);
}
h4 {
    font-style: italic;
}
p {
    text-align: justify;
}
.titre_actu {
    border: 2px solid rgb(70, 134, 111);
    border-radius: 20px;
    background-color: rgb(176, 253, 227);
    box-shadow: 6px 6px 25px rgba(70, 134, 111, 0.8);
    vertical-align: middle;
    color: rgb(70, 134, 111);
    text-transform: uppercase;
}
.actu {
    border: 3px solid black;
    text-align: center;
    width: 50%;
    height : 80px;
    padding-right: 30px;
    padding-left: 30px;
}
.nav {
    padding: 4px;
    text-align: center;
    table-layout: auto;
    height: 80px;
    padding-right: 10px;
    padding-left: 10px;
}
.nav, .actu {
    border: 2px solid rgb(70, 134, 111);
    border-radius: 20px;
    background-color: rgb(176, 253, 227);
    box-shadow: 6px 6px 25px rgba(70, 134, 111, 0.8);
    font-style: italic;
    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
        color: rgb(70, 134, 111);
    }
    a:active {
        color: red;
    }
}
.nav:hover, .nav:focus, .actu:hover, .actu:focus {
    border: none;
    transform: scale(1.05);
    background-color: rgb(216, 255, 242);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.navig {
    width: 100%;
}
.map {
    display: block;
    margin: auto;
}
footer {
    font-style: italic;
}

/* Réajustement de la taille des cartes pour un affichage sur mobile*/
@media all and (max-width: 960px) {
    .map {
        width: 100%;
    }
}

/* Architecture responsive pour la page d'accueil ainsi que la barre de navigation*/
@media all and (min-width: 960px) {
    .navig {
        width: 50%;
    }
    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .corps {
        display: flex;
        padding: 20px;
        gap: 20px;
    }
    .col1 {
        flex: 2;
    }
    .col2 {
        flex: 1;
    }
    table#nav1 {
        float: left;
    }
    table#nav2 {
        float: right;
    }
}